/*L-desktop*/

@media (min-device-width:  1600px)
{

}

/*L-laptops*/
@media only screen and (min-device-width: 1200px) and (max-device-width: 1440px)
{

	
    
}

/*laptops/tablets*/
@media only screen and (min-device-width: 576px) and (max-device-width: 1024px)
{
    .navham-content
    {
        width: 40%;
    }
}


/*tablets*/
@media only screen and (min-device-width: 576px) and (max-device-width: 768px)
{


    .navham-content
    {
        width: 50%;
    }
    .coming-soon-title span
    {
        font-size: 10px;
    }
    .coming-soon-title p
    {
        font-size: 15px;
    }
    .coming-soon-title h1
    {
        font-size: 55px;
    }
    #countdown
    {
        font-size: 75px;
    }
    #countdown span
    {
        font-size: 12px;
    }
    .coming-soon-subscribe input[type=email]
    {
        width: 50%;
    }
    .coming-soon-subscribe button
    {
        padding: 0 50px;
    }


}


/*Smart phone*/
@media only screen and (min-device-width: 320px) and (max-device-width: 576px)
{
    .nav_icons
    {
        display: none;
    }
    .navham-content
    {
        width: 100%;
    }
    .navham-content .nav_icons
    {
        display: block;
        text-align: center;
    }
    .coming-soon-title span
    {
        font-size: 10px;
    }
    .coming-soon-title h1
    {
        font-size: 40px;
    }
    .coming-soon-title p
    {
        font-size: 13px;
        width: 100%;
    }
    #countdown
    {
        font-size: 40px;
        min-height: 80px;
    }
    #countdown span
    {
        font-size: 10px;
    }
    .coming-soon-subscribe
    {
        display: block;
        min-height: 40px;
    }
    .coming-soon-subscribe input[type=email]
    {
        width: 100%;
    }
    .coming-soon-subscribe button
    {
        width: 100%;
        margin: 0;
        margin-top: 20px;
    }
   

}


